PORT=5001
NODE_ENV=development

# Database Configuration (SUPABASE)
DB_NAME=postgres
DB_USER=postgres.sbvfdotlmxmpdumdnnqw
DB_PASS=Alamatgue123*
DB_HOST=aws-1-ap-south-1.pooler.supabase.com
DB_DIALECT=postgres
DB_SSL=true

# MinIO Configuration
MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=sapaku-agents

# Frontend URL (untuk CORS)
FRONTEND_URL=http://localhost:5173

# JWT Configuration
JWT_SECRET=rahasia_super_aman_sekali_ganti_ini_nanti
JWT_EXPIRE=30d
JWT_COOKIE_EXPIRE=30

# Meta Cloud API
META_APP_ID=1191217912806430
META_APP_SECRET=your_secret_here
META_WEBHOOK_VERIFY_TOKEN=vlow_meta_webhook_secret_2024

# Email Configuration (Resend)
SMTP_HOST=smtp.resend.com
SMTP_PORT=465
SMTP_EMAIL=resend
SMTP_PASSWORD=re_DVhzLzW4_3Y7mDXR9KwfoA8iMhhzPgYGS
FROM_NAME="Vlow System Admin"
FROM_EMAIL=no-reply@vlow.ai
